body {
  /* background: rgb(31,98,125);
background: linear-gradient(90deg, rgba(31,98,125,1) 0%, rgba(0,19,68,1) 100%);  */
  /* background: rgb(31,98,125);
 background: linear-gradient(90deg, rgba(31,98,125,1) 0%, rgba(129,0,113,1) 100%);  */
  /* background: rgb(255,0,82);
 background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,0,82,1) 100%); */
  background: rgb(0,228,255);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,228,255,1) 100%);
    font-family: -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}

.cbox {
  border-radius: 25px;
  border: 4px solid #59AFC0;
  text-align: center;
  width: 300px;
  height: 150px;
  margin: 30px;
  color: white;
}

/*Vertical Sliding*/
.slidingVertical{
  line-height: normal;
	display: inline;
  display: flex;
  justify-content: center;
}


.slidingVertical span{
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  color: white;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.slidingVertical span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

.conicon {
  margin: 10px;
  font-size: 2.3vw;
}

.rcorners2 {
  border-radius: 25px;
  border: 2px solid cyan;
  padding: 20px;
}

.skill-icon {
  font-size: 50px;
  color: white;
  margin-left: 15px;
}

.proj {
  font-size: 3vw;
  color: white;
}

.proj:hover {
  text-decoration: none;
  color: white;
}

.heading {
    /* position: absolute; */
    text-align: center;
    width: 100%;
}

.svg-white {
  filter: invert(100%) sepia(0%) saturate(1222%) hue-rotate(351deg) brightness(113%) contrast(106%);
}

.box {
  display:inline-block;
  margin: 10px;
  border-radius: 60px;
  background-color: rgba(0,0,0,0.5);
  border: 5px solid white;
  color:white;
  font-size: 1.8em;
  padding: 10px 20px;
  margin: 30px;
}

.box:hover {
  background-color: rgba(0,0,0,0.3);
}

.box:hover i {
  animation: pulsating 2s linear;
  animation-iteration-count: infinite;

}

@keyframes pulsating {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.middle {
  position: absolute;
  top: 100%;
  width: 100%;
  padding-bottom: 200px;
  overflow: hidden;
  /* width: 100vh; */
}

.profpic {
  position: absolute;
  top: 50%;
}


.heading h1 {
    color: white;
    font-size: 5vw;
}

.heading h2 {
  color: white;
  font-size: 110px;
}

.heading h3 {
    color: blue;
    font-size: 20px;
}

.circ {
    display: block;
    height: 130px;
    width: 150px;
    line-height: 60px;

    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */

    background-color: white;
    text-align: center;
    font-size: 2em;
}

#particles-js {
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,108,1) 0%, rgba(8,8,109,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(10,89,87,1) 0%, rgba(9,77,75,1) 0%, rgba(0,42,98,1) 100%); */
    /* stay in a constant spot on the page, regardless of scroll */
    position: fixed;
    /* fill the entire page */
    width: 100%;
    height: 100%;
    /* remove the space along the edges */
    margin: 0;
    padding: 0;
    /* position it to start at the top of the page */
    top: 0;
    /* put it behind other content */
    z-index: -1;
}
