<!DOCTYPE html>
<html lang="en">

<head>
    <title>Stas Ostyk</title>

    <!-- Import style.css from root directory -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/timeline.css" />

    <!--Icons-->
    <link rel="stylesheet" href="css/flag-icons/css/flag-icon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.10.1/devicon.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>

<body>
    <!-- Particles.js div -->
    <div id="particles-js">
    </div>
      <div class="container">
        <div class="row" style="height:15vh">
          <div class="col my-auto heading">
            <h1>
              <strong>Hey!</strong>
              <div class="slidingVertical">
                <span>my name is Staś.</span>
                <span>me llamo Staś.</span>
                <span>cześć, nazywam się Staś.</span>
                <span>igama lami nginguStaś.</span>
                <span> اسمي ستاش </span>
              </div>
            </h1>
          </div>
        </div>

        <div class="row justify-content-center" style="height: 70vh; margin-top: 15vh">
          <div class="col-md-6 my-auto" style="text-align: center;">
            <p style="color:white; font-size:1vw"><strong>Selfie w/ edge detection algorithm.</strong></p>
            <img src="assets/pfp2.png" alt="Profile Pic" height="auto" width="auto" style="max-height: 65vh; max-width: 100%;">
          </div>
          <div class="col-md-5 d-none d-md-block my-auto"style="text-align: center;overflow: hidden;">
            <div style="padding-bottom:20px;">
              <span class="flag-icon flag-icon-zaf conicon"></span>
              <span class="flag-icon flag-icon-pol conicon"></span>
              <span class="flag-icon flag-icon-lbn conicon"></span>
              <span class="flag-icon flag-icon-mex conicon"></span>

            </div>
            <h2 style="padding-bottom:15px; color:white; font-size: 3vw; overflow: hidden"> Get in touch with me! </h2>


            <br>
            <hr style="color: white; height: 10px;">
            <br>
            <a href="https://www.instagram.com/stas_ostyk/" class="fa fa-instagram" style="color: white; font-size: 5vw"></a>
            <a href="https://github.com/stasostyk" class="fa fa-github-alt" style="color: white; padding-left: 40px; font-size: 5vw"></a>
          </div>
        </div>
      </div>


        <div class="middle">
          <br>
          <hr style="color: white; height: 10px; opacity:1">
          <br>


          <div class="container-fluid" style="text-align:center">
            <div class="row justify-content-center" style="margin-top:70px">
              <h1 style="color: white; font-size: 4vw;"> My skills </h1>
            </div>
            <div class="row justify-content-center" style="height:300px; margin-top:70px">
              <div>
                <i class="devicon-python-plain skill-icon"></i>
                <i class="devicon-atom-original skill-icon"></i>
                <i class="devicon-css3-plain-wordmark skill-icon"></i>
                <i class="devicon-django-plain skill-icon"></i>
                <i class="devicon-flask-original skill-icon"></i>
                <i class="devicon-flutter-plain skill-icon"></i>
                <i class="devicon-github-original skill-icon"></i>
                <i class="devicon-go-plain skill-icon"></i>
                <i class="devicon-html5-plain skill-icon"></i>
                <i class="devicon-java-plain skill-icon"></i>
                <i class="devicon-javascript-plain skill-icon"></i>
                <i class="devicon-linux-plain skill-icon"></i>
                <i class="devicon-photoshop-plain skill-icon"></i>
                <i class="devicon-ssh-original-wordmark skill-icon"></i>
                <i class="devicon-swift-plain skill-icon"></i>
                <i class="devicon-ubuntu-plain skill-icon"></i>

              </div>

            </div>
            <div class="row justify-content-around">
              <div class="col-4 offset-1">
                <h1 style="line-height: normal;overflow: hidden; margin-top: 150px;font-size: 80px; color: white;" class="fa fa-terminal">
                  My
                  <span style="color: #59AFC0; font-weight:bold; font-style:italic;"> tech </span>
                  path
                </h1>
                <img src="assets/monitor.png" alt="Monitor" style="max-height: 55vh; max-width: 33vw;">
                <h2 style="color:white;"><strong>Pentesting on Linux @ My Room</strong></h2>
              </div>
              <div class="col-7 main-timeline" style="border: 5px">
                      {% for techevent in site.data.tech %}
                      <a class="timeline">
                        <div class="timeline-icon"><i class="fa {{techevent.icon}}"></i></div>
                        <div class="timeline-content">
                          <h3 class="title">{{techevent.name}}</h3>
                          <p class="description" style="color: white">
                            {{techevent.desc}}
                          </p>
                        </div>
                      </a>
                      {% endfor %}
              </div>
            </div>


            <br>
            <hr style="color: white; height: 10px; opacity: 1">
            <br>

            <div class="row justify-content-center" style="margin-top:70px">
              <h1 style="color: white; font-size: 4vw;"> I represented Team Mexico Debate across...</h1>
            </div>
            <div class="row justify-content-center" style="height:300px; margin-top:70px">
              <div>
                <span class="flag-icon flag-icon-usa conicon"></span>
                <span class="flag-icon flag-icon-can conicon"></span>
                <span class="flag-icon flag-icon-mex conicon"></span>
                <span class="flag-icon flag-icon-cze conicon"></span>
                <span class="flag-icon flag-icon-tha conicon"></span>
                <span class="flag-icon flag-icon-mac conicon"></span>
              </div>
            </div>

            <div class="row justify-content-around">
              <div class="col-7 main-timeline">
                      {% for event in site.data.debate %}
                      <a class="timeline">
                        <div class="timeline-icon"><i class="fa {{event.icon}}"></i></div>
                        <div class="timeline-content">
                          <h3 class="title">{{event.name}}</h3>
                          <p class="description" style="color: white">
                            {{event.desc}}
                          </p>
                        </div>
                      </a>
                      {% endfor %}
              </div>
              <div class="col-4">
                <h1 style="line-height: normal;overflow: hidden; margin-top: 150px;font-size: 80px; color: white;" class="fa fa-terminal">
                  My
                  <span style="color: #59AFC0; font-weight:bold; font-style:italic;"> debate </span>
                  path
                </h1>
                <img src="assets/bluebonnet.png" alt="Bluebonnet" style="max-height: 55vh; max-width: 33vw;">
                <h2 style="color:white;"><strong>Finals at Bluebonnet Invitational @ Houston, TX</strong></h2>
              </div>
              <div class="col-1">
              </div>
            </div>

          </div>

        </div>

    <!-- Import Particles.js and app.js files -->
    <script src=
        "js/particles.js">
    </script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous">
    </script>

    <script src=
        "js/app.js">
    </script>
</body>

</html>
